* {
	box-sizing: border-box;
}

body {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	margin: 0;
	padding: 0;
}

h1 {
	text-align: center;
	font-size: 36px;
	text-transform: uppercase;
}

h2 {
	font-size: 24px;
	text-transform: capitalize;
	margin: 0;
	position: relative;
	float: right;
	border: 1px solid black;
	padding: 10px;
	width: 200px;
	text-align: center;
}

p {
	text-align: left;
	margin: 0;
	font-size: 18px;
	clear: both;
	padding: 25px 15px;
}

.row{
	clear: both;
	width: 100%;
}

#title1{
	background-color: #DAF7A6;
}

#title2{
	background-color: #E74C3C;
}

#title3{
	background-color: #229954;
}

@media (min-width: 992px){
	.col-lg-4{
		float: left;
		width: 30%;
		margin-left: 2.5%;
		background-color: #979A9A;
		border: 1px solid black;
		margin-bottom: 25px;
	} 
}

@media (min-width: 768px) and (max-width: 991px){
	.col-md-6{
		float: left;
		width: 45%;
		margin-left: 3.33%;
		background-color: #979A9A;
		border: 1px solid black;
		margin-bottom: 25px;
	}
	.col-md-12{
		float: left;
		width: 93.33%;
		margin-left: 3.33%;
		background-color: #979A9A;
		border: 1px solid black;
		margin-bottom: 25px;
	}
}

@media (max-width: 767px){
	.col-sm-12{
		width: 90%;
		margin-left: 5%;
		background-color: #979A9A;
		border: 1px solid black;
		margin-bottom: 25px;
	}
}